@font-face {
  font-family: "HelveticaNeueLTPro";
  src: url("../../fonts/HelveticaNeueLTPro-Roman.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeueLTPro";
  src: url("../../fonts/HelveticaNeueLTPro-Md.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "HelveticaNeueLTPro";
  src: url("../../fonts/HelveticaNeueLTProBd.otf") format("opentype");
  font-weight: bold;
}

body {
  margin: 0 auto;
  background-color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
  font-size: 60%;
}
