.container {
  width: 100%;
  min-width: 320px;
  max-width: 1142px;
  color: white;
  text-align: left;
  background-repeat: repeat-y;
  background-position: -60px -60px;
  background-color: #0c4d86;
}
